body {
  margin:0px;
  background-color:rgba(27, 130, 109, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1875px;
  height:890px;
  background:inherit;
  background-color:rgba(251, 253, 252, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3349 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:1875px;
  height:890px;
}
#u3349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:890px;
}
#u3350 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:20px;
  width:50px;
  height:890px;
}
#u3350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3351 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:45px;
  width:169px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(27, 130, 109, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3352 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:46px;
  width:74px;
  height:26px;
}
#u3352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3353 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:46px;
  width:26px;
  height:26px;
}
#u3353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u3354 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:49px;
  width:94px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u3354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u3355 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:44px;
  width:66px;
  height:30px;
}
#u3355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3356 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:47px;
  width:24px;
  height:24px;
}
#u3356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u3357 {
  border-width:0px;
  position:absolute;
  left:1689px;
  top:33px;
  width:40px;
  height:47px;
}
#u3357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:51px;
}
#u3358 {
  border-width:0px;
  position:absolute;
  left:1737px;
  top:30px;
  width:40px;
  height:51px;
}
#u3358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:51px;
}
#u3359 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:30px;
  width:40px;
  height:51px;
}
#u3359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:51px;
}
#u3360 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:30px;
  width:40px;
  height:51px;
}
#u3360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3361 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:43px;
  width:30px;
  height:30px;
}
#u3361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:111px;
}
#u3362 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:410px;
  width:11px;
  height:111px;
}
#u3362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3363 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:53px;
  width:12px;
  height:12px;
}
#u3363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u3364 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:49px;
  width:29px;
  height:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u3364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3365 {
  position:absolute;
  left:250px;
  top:98px;
}
#u3365_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1612px;
  height:30px;
  background-image:none;
}
#u3365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3366 {
  position:absolute;
  left:11px;
  top:0px;
}
#u3366_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background-image:none;
}
#u3366_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  line-height:20px;
}
#u3367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u3368 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:85px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u3368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3369 {
  position:absolute;
  left:204px;
  top:0px;
}
#u3369_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background-image:none;
}
#u3369_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3370 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1px;
  width:18px;
  height:18px;
}
#u3370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  line-height:20px;
}
#u3371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1613px;
  height:2px;
}
#u3372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:1612px;
  height:1px;
}
#u3372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 101, 72, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3373 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:26px;
  width:90px;
  height:4px;
}
#u3373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
